*{
    border: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Metrophobic, sans-serif;
}

a {
    text-decoration: none;
}

.boldtext {
    font-weight: bold;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}

.getTheApp {
    display: flex;
    color: white;
    font-size: 0.85rem;
    align-items: center;
}

.app {
    margin-left: 5px;
}

.no-underline {
    color: white;
}

.navlist {
    display: flex;
    color: white;
    list-style-type: none;
    justify-content: space-evenly;
    width: 45%;
    font-size: 1.25rem;
    align-items: center;
    margin-left: 50px;
}

.hero-section {
    background-image: url("assets/hero_image.png");
    background-size: cover;
    height: 500px;
}

.under-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    margin-top: 100px;
    flex-wrap: wrap;
}

.zomlogo {
    background-image: url("assets/zomato_logo.png");
    background-size: cover;
    width: 310px;
    height: 65px;
}

.zomtext {
    color: white;
    font-size: 3rem;
    width: 100%;
    text-align: center;
}

.red {
    color: red;
    font-size: 1.3rem;
}

.zomselect {
    display: flex;
    width: 70%;
    height: 50px;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    background-color: white;
    border-radius: 4px;
}

.black {
    color: black;
}

.cccccc {
    color: #CCCCCC;
}

.searcher, .lines, .caret {
    font-size: 1.35rem;
}

.selectAddress {
    color: #949494;
}

.searchFood {
    width: 65%;
    height: 40px;
    font-size: 1rem;
    border: none;
}

.food-section1 {
    margin-top: 25px;
    width: 82%;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    column-gap: 16px;
}

.food-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    height: 260px;
    border-radius: 5px;
    border: 0.6px solid lightgray;
    cursor: pointer;
}

.box-img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 180px;
    width: 100%;
    background-size: cover;
    cursor: pointer;
}

.boxheading {
    font-size: 1.35rem;
    margin-top: 8px;
    margin-left: 10px;
}

.boxpara {
    margin-left: 10px;
    margin-top: 5px;
    font-size: 0.9rem;
}

.colhead {
    margin-top: 40px;
    margin-left: 130px;
}

.inDelhiNCR {
    margin-top: 5px;
    margin-bottom: 12px;
    margin-left: 130px;
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.redDelhi {
    color: red;
    display: flex;
    align-items: center;
}

.allc {
    margin-right: 4px;
}

.fourBoxes {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%
}

.boxes {
    margin-top: 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    column-gap: 10px;
    width: 83%;
}

.box1 {
    height: 320px;
    color: white;
    background-size: cover;
    border-radius: 10px;
    cursor: pointer;
}

.box1-img {
    cursor: pointer;
}

.boxcontent {
    position: relative;
    top: 270px;
    left: 20px;
    font-size: 1.1rem;
}

.places {
    display: flex;
    align-items: center;
}

.icon {
    margin-left: 3px;
}

.localitiesHead {
    margin-top: 50px;
    margin-left: 130px;
}

.nineBoxes {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
}

.container {
    display: grid;
    width: 83%;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    gap: 16px;
}

.cards {
    height: 50px;
    border-radius: 8px;
    background-color: white;
    padding: 20px;
    border: 1px solid lightgray;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    cursor: pointer;
}

.cards span {
    font-weight: normal;
}

.zomapp-img {
    background-image: url("assets/zomapp.png");
    width: 410px;
    height: 450px;
    background-size: cover;
}

.zomapp {
    height: 500px;
    width: 100%;
    background-color: #FFFBF7;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.zomapp-content {
    width: 410px;
    height: 450px;
}

.zomapp-head {
    font-size: 2.7rem;
    padding-top: 20px;
}

.toggle-group {
    display: flex;
    gap: 1rem;
}
  
.toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.toggle input {
    display: none; /* Hide the actual radio button */
}

.toggle-label {
    padding-left: 1.8rem;
    font-size: 1rem;
    color: #333;
}

.toggle-label::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 2px solid #999;
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s;
}

.toggle input:checked + .toggle-label::before {
    border-color: #e74c3c; /* Red border */
    background-color: #e74c3c; /* Red fill */
}

.toggle input:checked + .toggle-label {
    color: #000; /* Darken text color */
}

.input-group {
    height: 50px;
}

.inp {
    height: 36px;
    width: 200px;
    border-radius: 4px;
    border: 1px solid lightgray;
}

.butt {
    margin-left: 10px;
    height: 40px;
    width: 150px;
    background-color: #E23744;
    border: none;
    border-radius: 4px;
    color: white;
}

.img-group {
    display: flex;
    width: 75%;
}

.gplay {
    background-image: url('assets/gplay.png');
    width: 100px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
}

.aplay {
    background-image: url('assets/appleapp.png');
    width: 100px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 20px;
}

.zomfooter {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F8F8F8;
}

.foot {
    width: 83%
}

.selectors {
    display: flex;
    justify-content: space-between;
    width: 20%;
}

.panel1 {

    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.black-logo {
    background-image: url('assets/zomato_logo_black.png');
    height: 30px;
    width: 130px;
    background-size: contain;
}

.countrySelect, .languageSelect {
    background-color: transparent;
    display: flex;
    padding: 5px;
    border-radius: 6px;
    border: 1px solid gray;
    align-items: center;
    justify-content: space-between;
}

.countrySelect {
    width: 35%
}

.languageSelect {
    width: 45%;
}

.panel2 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 40px;
}

.footerlist {
    margin-top: 12px;
    list-style-type: none;
}

.footeroption {
    line-height: 1.8rem;
    color: #696969;
}

.socials {
    margin-top: 12px;
}

.eyecon {
    font-size: 1.5rem;
}

.aplay1 {
    background-image: url('assets/appleapp.png');
    width: 100px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
}