*{
    border: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Metrophobic, sans-serif;
}

a {
    text-decoration: none;
}

.boldtext {
    font-weight: bold;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}

.getTheApp {
    display: flex;
    color: white;
    font-size: 0.85rem;
    align-items: center;
}

.app {
    margin-left: 5px;
}

.no-underline {
    color: white;
}

.navlist {
    display: flex;
    color: white;
    list-style-type: none;
    justify-content: space-evenly;
    width: 45%;
    font-size: 1.25rem;
    align-items: center;
    margin-left: 50px;
}

.hero-section {
    background-image: url("assets/hero_image.png");
    background-size: cover;
    height: 500px;
}

.under-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    margin-top: 100px;
    flex-wrap: wrap;
}

.zomlogo {
    background-image: url("assets/zomato_logo.png");
    background-size: cover;
    width: 310px;
    height: 65px;
}

.zomtext {
    color: white;
    font-size: 3rem;
    width: 100%;
    text-align: center;
}

.red {
    color: red;
    font-size: 1.3rem;
}

.zomselect {
    display: flex;
    width: 70%;
    height: 50px;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    background-color: white;
    border-radius: 4px;
}

.black {
    color: black;
}

.cccccc {
    color: #CCCCCC;
}

.searcher, .lines, .caret {
    font-size: 1.35rem;
}

.selectAddress {
    color: #949494;
}

.searchFood {
    width: 65%;
    height: 40px;
    font-size: 1rem;
    border: none;
}

.food-section1 {
    margin-top: 25px;
    width: 82%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.food-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    height: 260px;
    width: 31%;
    border-radius: 5px;
    border: 0.6px solid lightgray;
}

.box-img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 180px;
    width: 100%;
    background-size: cover;
}

.boxheading {
    font-size: 1.35rem;
    margin-top: 8px;
    margin-left: 10px;
}

.boxpara {
    margin-left: 10px;
    margin-top: 5px;
    font-size: 0.9rem;
}

.colhead {
    margin-top: 40px;
    margin-left: 130px;
}

.inDelhiNCR {
    margin-top: 5px;
    margin-bottom: 12px;
    margin-left: 130px;
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.redDelhi {
    color: red;
    display: flex;
    align-items: center;
}

.allc {
    margin-right: 4px;
}

.fourBoxes {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%
}

.boxes {
    margin-top: 0px;
    display: flex;
    justify-content: space-evenly;
    width: 83%
}

.box1 {
    height: 320px;
    width: 24%;
    color: white;
    background-size: cover;
    border-radius: 10px;
}

.boxcontent {
    position: relative;
    top: 270px;
    left: 20px;
    font-size: 1.1rem;
}

.places {
    display: flex;
    align-items: center;
}

.icon {
    margin-left: 3px;
}

.localitiesHead {
    margin-top: 50px;
    margin-left: 130px;
}

